.select_element {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  color: #7e7e7e;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 15px;

  border-radius: 5px;
  border: 1px solid #d5d5d5;
}
